colgroup{
    color: #f0abb7;
    color: #6c6666;
    color: #56568f;
    color: wheat;
}
body{
    background-color:pink ;
    margin: 0;
    padding: 0;
    }
    h1{
     margin-top: 60px;
     font-size: 40px;
     text-align: center;
    }
    .about-us{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
.about-img{
    width: 500px ;
    margin-right: 100px;
    border-radius: 8px;
    border: #6c6666;
    box-shadow: 0 0 5px #56568f;
}
.about-information{
    margin-left: 100px;
    width: 600px;
    font-size: 20px;
    text-align: justify;
}
.more-btn{
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 8px 20px;
    position: absolute;
    left: 120px;
    bottom: 20px;
}
.more-btn:hover{
   background-color:orangered;
   color:bisque;
   cursor: pointer;
   
}
.our-goals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
    .goal-img{
        margin-left: 100px;
        width: 500px ;
        border-radius: 8px;
        border: #6c6666;
        box-shadow: 0 0 5px #56568f;
    }

.our-goals-information{
    margin-right: 100px;
    width: 600px;
    font-size: 20px;
    text-align: justify;
}
.details-btn{
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    position: absolute;
    padding: 8px 20px;
    right: 580px;
    bottom: 30px;
}
.details-btn:hover{
    color: bisque;
    background-color: orangered;
    cursor: pointer;
}
.card-container{
    /* background-color: red; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-description{
    width: 250px;
    padding: 15px 0px ;
    margin: 30px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.team-member-img{
    width: 100px;
    border-radius: 50%;

}
