body{
    background-color: #ebadb8;
    margin: 0px;
    padding: 0px;
}
.start-box-img{
    width: 100%;
}
.bestseller-box{
    padding: 0px 20px;
}
.bestseller-box-title{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    font-family: "Papyrus", Fantasy;
}
.bestseller-box-card-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bestseller-box-card{
    width: 270px;
    height: 320px;
    border: 2px solid rgb(240, 206, 227);
    padding: 20px;
    background-color: #f0c1cb;
    margin: 20px;
}
.bestseller-box-card-img{
    width: 200px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}
/*.bestseller-box-card-img:hover{
    transform: scale(1.2);
    animation-direction: alternate;
    transition: 0.5s;
}*/
.bestseller-box-card:hover{
    box-shadow: 2px 2px 5px 5px #383b38;
    transition: 0.5s;
    transform: scale(1.01);
    animation-direction: alternate;
    transition: 0.5s;
}
.bestseller-box-card-img-title{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
}
.bestseller-box-card-img-dis{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 10px;
}
.bestseller-box-card-price{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
.bestseller-box-card-btn-1{
    border: 2px solid rgba(37,40,43,.08);
    background-color: #ebadb8;
    padding: 7px 16px;
    cursor: pointer;
}
.bestseller-box-card-btn-2{
    border: 2px solid #25282b;
    padding: 7px 20px;
    cursor: pointer;
    background-color: #25282b;
    color: wheat;
}
.bestseller-box-card-btn-1:hover{
    background-color: #f0c1cb;
}
.bestseller-box-card-btn-2:hover{
    background-color: #f0c1cb;
    color: black;
}