body{
    background-color: #ebadb8;
    margin: 0px;
    padding: 0px;
}
.start-box-img{
    width: 100%;
    margin-top: 100px;
}
.bestseller-box{
    margin: 30px auto;
    padding: 0px 20px;
}
.bestseller-box-title{
    text-align: center;
    font-size: 40px;
    font-family: "Gill Sans", sans-serif;
}
.bestseller-box-card-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}
.bestseller-box-card{
    width: 280px;
    border-radius: 5px;
    height: auto;
    border: 2px solid rgb(240, 206, 227);
    padding: 15px;
    font-family: "Gill Sans", sans-serif;
    color: black;
    background-color: #f0c1cb;
    margin: 20px;
}
.bestseller-box-card-img{
    width: 180px;
    display: block;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 3px black;
    margin: 0px auto;
}
.bestseller-box-card-img:hover{
    transform: scale(1.05);
    animation-direction: alternate;
    transition: 0.5s;
}
/*.bestseller-box-card:hover{
    box-shadow: 2px 2px 5px 5px #383b38;
    transition: 0.5s;
    transform: scale(1.01);
    animation-direction: alternate;
    transition: 0.5s;
}*/
.bestseller-box-card-img-title{
    text-align: center;
    font-size: 18px;
    margin: 20px;
    font-family: "Papyrus", Fantasy;
    font-weight: bold;
}
.bestseller-box-card-img-dis{
    text-align: center;
    font-size: 10px;
}
.bestseller-box-card-price{
    text-align: center;
    margin: 10px;
}
.bestseller-box-card-btn-1{
    border: 2px solid rgba(37,40,43,.08);
    background-color: #e698a9;
    padding: 6px 20px;
    cursor: pointer;
}
.bestseller-box-card-btn-2{
    border: 2px solid #25282b;
    padding: 6px 26px;
    cursor: pointer;
    background-color: #25282b;
    color: wheat;
}
.bestseller-box-card-btn-1:hover{
    background-color: #25282b;
    color: wheat;
}
.bestseller-box-card-btn-2:hover{
    background-color: #e698a9;
    color: black;
}
.view-more-box{
    background-color: #f0c1ca;
    padding-bottom: 1px;
}
.view-more-box-title{
    text-align: center;
    font-size: 40px;
    font-family: "Gill Sans", sans-serif;
    padding-top: 30px;
}
.view-more-card-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px auto;
}
.view-more-card-img{
    width: 200px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px black;
    margin: 0px auto;
}
.view-more-card-img:hover{
    transform: scale(1.1);
    animation-direction: alternate;
    transition: 0.5s;
}
.view-more-card-img-title{
    text-align: center;
    font-size: 25px;
    margin: 15px;
    font-family: "Papyrus", Fantasy;
    font-weight: bold;
}
.bestseller-box-card-star{
    height: 20px;
}
.bestseller-box-card-star-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bestseller-box-card-img-title-2{
    text-align: center;
    font-size: 18px;
    margin: 20px 10px 10px 10px;
    font-family: "Papyrus", Fantasy;
    font-weight: bold;
}
@media screen and (max-width:768px) {
    .start-box-img{
        margin-top: 140px;
    }
    .bestseller-box{
        margin: 15px auto;
        padding: 0px 0px;
    }
    .bestseller-box-title{
        font-size: 30px;
    }
    .bestseller-box-card-box{
        margin-top: 10px;
    }
    .bestseller-box-card{
        width: 410px;
        margin: 15px;
        display: flex;
        flex-direction: row;
    }
    .bestseller-box-card-img{
        width: 180px;
    }
    .bestseller-box-card-title-dis-price{
        width: 210px;
    }
    .bestseller-box-card-img-title{
        font-size: 18px;
        margin: 5px;
    }
    .bestseller-box-card-btn-1{
        padding: 8px 8px;
        font-size: 12px;
    }
    .bestseller-box-card-btn-2{
        padding: 8px 12px;
        font-size: 12px;
    }
    .view-more-box-title{
        font-size: 30px;
        padding-top: 15px;
    }
    .view-more-card{
        margin-bottom: 20px;
    }
    .view-more-card-box{
        margin: 30px auto;
    }
    .view-more-card-img{
        width: 170px;
    }
    .view-more-card-img-title{
        font-size: 20px;
        margin: 1px;
    }   
}
    