body {
    padding: 0;
    margin: 0;
    background-color: #ebadb8;
}

.navbar-image {
    width: 100%;
}

.necklace-card {

    width: 280px;
    height: 360px;
    border: 2px solid rgb(240, 206, 227);
    padding: 10px;
    font-family: "Gill Sans", sans-serif;
    color: black;
    background-color: #f0c1cb;
    margin: 20px;


}

.necklace-card-image {
    width: 150px;
    display: block;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 5px black;
    margin: 0px auto;
}

.bestseller-box-card-img:hover {
    transform: scale(1.05);
    animation-direction: alternate;
    transition: 0.5s;
}

.necklace-card-title {
    text-align: center;
    font-size: 25px;
    font-family: "Papyrus", Fantasy;
    color: black;
}

.necklace-card-price {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    color: black;
}

.necklace-card-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.necklace-card-btn-1{
    border: 2px solid rgba(37, 40, 43, .08);
    background-color: #e698a9;
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
}

.necklace-card-btn-2{
    border: 2px solid #25282b;
    padding: 5px 23px;
    cursor: pointer;
    background-color: #25282b;
    color: wheat;

}

.necklace-card-btn-1:hover {
    background-color: #25282b;
    color: wheat;
}

.necklace-card-btn-2:hover {
    background-color: #f0c1cb;
    color: black;
}
.necklace-container {
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}