body {
         padding: 0;
         margin: 0;
        background-color: #ebadb8;
    }
a{
    color: black;
}
.nav {
        background-color:#f0c1ca;
        color: black;
        margin-top: -10px;
        height: 30px;
        width: 100%;
        padding: 10px;
        position: fixed;
    }
.start-line {
        text-align: center;
        margin: 10px;
    }
        
.navbar {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            background-color: white;
            height: 60px;
            margin-top: 40px;
            position: fixed;
            width: 100%;
        }
        
.shop-name {
            margin-left: 20px;
            font-weight: bold;
        }
        
.pages {
        text-align: center;
        }
        
.page {
        font-size: 17px;
        margin-left: 10px;
        cursor: pointer;
        padding: 5px 20px;
        }
.page:hover {
            font-size: 19px;
            box-shadow:#f0c1cb;
            transition: 0.1s;
            }
.icons {
        display: flex;
        flex-direction: row-reverse;
        display: inline-block;
        cursor: pointer;
        }
        
.icon {
        height: 20px;
        margin-right: 20px;
        }
.img{
    height: 550px;
    width: 100%;
    margin-top: 80px;
}
.jewelry_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px; 
}
.card{
    background-color: #f0c1cb;
    height: 360px;
    width: 310px;
    border-radius: 10px;
    border: solid #4d2e00 2px ;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card_img{
    padding: 10px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
.card_img:hover{
    padding: 15px;
    height: 190px;
    transition: 0.3s;
}
.card_heading{
    color: #e18497  ;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}
.desc{
    text-align: center;
}
.main-dropdown{
    display: flex;
    margin: 100px;
}
.custom-dropdown{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    padding: 3px;
    margin-top: 25px;
    justify-content: space-around;
    margin-left: -20px;
}
.section-title{
    padding: 30px;
}

.Giva-heading{
    text-align:center ; 
    margin-top: -30px;
}

.jewelry_img{
    border-radius: 90px;
    display: flex;
    justify-content: center;
  
}

.jwel_img{
    height: 450px;
    width: 400px;
    border-radius: 80px;
    padding: 20px;
    box-shadow: 3px 1px 2px 1px #f0c1cb;
}
.footer{
    margin-top: 30px;
}
.main-offer-img{
    height: 300px;
    width: 100%;
    padding: 20px;
}

.offer-img{
    display: flex;
    justify-content: space-around;
}
.offer-img1{
    display: flex;
    justify-content: space-around; 
}
.offer1-img{
    height: 250px;
    width: auto;
    padding: 20px;
    border-radius: 3px;
}

@media screen and (min-width:400px) and (max-width:768px){
    .start-line {
        font-size: 12px;
    }
    .shop-name {
        margin-left: 10px;
        font-size: 15px;
    }
    .navbar {
        flex-wrap: wrap;
        height: 100px;
    }
    .page {
        font-size: 11px;
        padding: 2px 3px;
        }
    .page:hover {
            font-size: 15px;
            }
    .icon {
            height: 15px;
            margin-right: 20px;
          }
    .icons {
            margin-left: auto;
            margin-right: auto;
            }
    .img{
                height: 350px;
                width: 100%;
            }
    .card{
                height: 300px;
                width: 280px;
            }
            .card_img{
                height: 140px;
            }
            .card_img:hover{
                height: 150px;
            }
            .card_heading{
                margin-top: 10px;
                font-size: 20px; 
            }
    .Giva-heading{
        font-size: 20px;
    }

    .jwel_img{
        height: 180px;
        width: auto;
        border-radius: 70px;
        padding: 15px;
    }
    .main-offer-img{
        height: 150px;
        padding: 1px;
    }
    .offer1-img{
        height: 65px;
        padding: 10px;
    }
    
        
}